<div class="modal-content" style="background: url(images/scrollpaper.png);background-size: cover;height: 470px;width: 600px">
    <div class="custom-modal-body">
        <div class="text-center" style="font-style: oblique;padding-top: 13%">
            <h3 style="font-weight: 900">{{"Level "+building.level}} {{building.type}} Building</h3>
            <table style="margin-left: auto;margin-right: auto" >
                <thead>
                    <th style="width: 220px" ng-if="building.sector == 'others' || building.sector == 'town center'  && building.level > 0" class="text-center">Info</th>
                    <th style="width: 220px" ng-if="building.sector == 'production'  && building.level > 0" class="text-center">Production</th>
                    <th style="width: 220px" ng-if="building.sector == 'military' && building.level > 0" class="text-center">Train</th>
                    <th style="width: 220px" ng-if="preparing_troops.length > 0" class="text-center">Current Trainings</th>
                    <th style="width: 220px" class="text-center">Construction</th>
                </thead>
                <tbody>
                    <tr>
                        <td ng-if="building.sector == 'others' || building.sector == 'town center'  && building.level > 0"> INFO </td>
                        <td ng-if="building.sector == 'production'  && building.level > 0">
                        </td>
                        <td ng-if="building.sector == 'military' && building.level > 0">
                            <img width="20%" ng-src="{{initial_troop.img}}">
                            <p style="font-weight: 900">{{"Time: "+convertSeconds(initial_troop.preparation_time)}}</p>
                            <table style="margin: auto" cellspacing="10" cellpadding="10">
                                <th class="text-center">COST</th>
                                <tbody>
                                <tr ng-repeat="(k,v) in initial_troop.cost">
                                    <td ng-style="{'color': (checkEnough(k,v) ? 'green':'#7E1417')}">{{v}} {{" "+ k}} {{checkEnough(k,v) ? undefined: " (not enough)"}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <div style="margin-top: 10px">
                                <button ng-if="buttonIsAvailable(true)" class="btn btn-xs btn-success" style="color: white" ng-click="train()"> Train Up </button>
                            </div>
                        </td>
                        <td ng-if="preparing_troops.length > 0">
                            <dl>
                                <dt ng-repeat="item in preparing_troops">
                                    {{item.type}} <img width="15%" ng-src="images/military/{{item.type}}/profile.png">
                                    <div style="background-color: whitesmoke; border: solid saddlebrown; border-radius: 2px;">
                                        <div class="myBar" id="{{item.id+'Loading'}}"></div>
                                    </div>
                                    <button class="btn btn-xs btn-danger" style="margin-left: 30px;color: white" ng-click="cancel_train(item.id)">Cancel</button>
                                </dt>
                            </dl>
                        </td>
                        <td>
                            <img width="25%" ng-src="{{building.img}}">
                            <p style="font-weight: 900">{{"Time: "+convertSeconds(building.construction_time)}}</p>
                            <div>
                                <table style="margin: auto" cellspacing="10" cellpadding="10">
                                    <th class="text-center">COST</th>
                                    <tbody>
                                    <tr ng-repeat="(k,v) in building.cost">
                                        <td ng-style="{'color': (checkEnough(k,v) ? 'green':'#7E1417')}">{{v}} {{" "+ k}} {{checkEnough(k,v) ? undefined: " (not enough)"}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div style="margin-top: 10px">
                                <button ng-if="buttonIsAvailable(false)" class="btn btn-xs btn-success" style="color: white" ng-click="upBuilding()"> Level Up </button>
                                <button ng-if="building.status == 'loading'" class="btn btn-xs btn-danger" style="color: white" ng-click="cancelBuilding()"> Cancel Process </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>