<div class="col-md-12 col-sm-12 col-xs-12">
    <img class="col-md-12 col-sm-12 col-xs-12" src="images/bigbasic.png">
    <div id="military{{k}}Div" ng-repeat="(k,v) in zones">
        <div id="{{k}}inner" class="text-center" ng-style="{'width': '15%', 'cursor': 'pointer', 'position': 'absolute', 'top': v.top+'%', 'left': v.left+'%'}">
            <span ng-if="v.archer.length > 0" style="font-size: 0.7vw;color: white;background-color: darkslategray;width: 5%;border-radius: 100px;font-family: 'Comic Sans MS';margin: 0;padding: 0" class="text-center">
                {{v.archer.length+ '     '}}
            </span>
            <img ng-click="page(true, v.archer, undefined, undefined)" ng-mouseover="brighter($event)" ng-mouseleave="darker($event)" ng-show="v.archer.length > 0" style="cursor: pointer;" width="43%" src="images/military/archer/1.png">
            <span ng-if="v.lancer.length > 0" style="font-size: 0.7vw;color: white;background-color: darkslategray;width: 5%;border-radius: 100px;font-family: 'Comic Sans MS';margin: 0;padding: 0" class="text-center">
                {{v.lancer.length+ '     '}}
            </span>
            <img ng-click="page(true, v.lancer, undefined, undefined)" ng-mouseover="brighter($event)" ng-mouseleave="darker($event)" ng-show="v.lancer.length > 0" style="cursor: pointer;" width="45%" src="images/military/lancer/1.png">
            <span ng-if="v.cavalry.length > 0" style="font-size: 0.7vw;color: white;background-color: darkslategray;border-radius: 100px;font-family: 'Comic Sans MS';margin: 0;padding: 0" class="text-center">
                {{v.cavalry.length+ '     '}}
            </span>
            <img ng-click="page(true, v.cavalry, undefined, undefined)" ng-mouseover="brighter($event)" ng-mouseleave="darker($event)" ng-show="v.cavalry.length > 0" style="cursor: pointer;" width="55%" src="images/military/cavalry/turnleft.png">
        </div>
    </div>
    <div id="building{{k}}Div" ng-repeat="(k,v) in buildingPositions" ng-style="{'width': '7%', 'position': 'absolute', 'top': v.top+'%', 'left': v.left+'%'}">
        <div ng-if="this[k].level > 0" style="font-size: 0.7vw;color: white;background-color: darkslategray;width: 20%;border-radius: 100px;font-family: 'Comic Sans MS';margin-left: 30%" class="text-center">
            {{this[k].level}}
        </div>
        <img ng-mouseover="brighter($event)" ng-mouseleave="darker($event)" ng-click="page(undefined, undefined, true, this[k])" ng-if="this[k].level > 0" style="cursor: pointer;" width="100%" ng-src="{{this[k].img}}">
        <img ng-mouseover="onEmpty($event)" ng-mouseleave="outEmpty($event)" ng-show="this[k].level == 0" ng-click="page(undefined, undefined, true, this[k])"  style="cursor: pointer;opacity:0.5;" width="100%" src="images/ownTown/empty.png">
        <div ng-click="page(undefined, undefined, true, this[k])" ng-show="this[k].status == 'loading'" style="cursor: pointer;margin-top: -75%; position: absolute">
            <img width="40%" src="images/ownTown/loading2.gif">
        </div>
        <div ng-click="page(undefined, undefined, true, this[k])" ng-show="this[k].status == 'loading'" style="cursor: pointer;background-color: whitesmoke;border: solid saddlebrown;width: 75%;font-size: 0.9vw;position: absolute;margin-top: -40%;" id="myProgressmain">
            <div class="myBar" id="{{this[k].type}}Loading"></div>
        </div>
    </div>
    <div id="topMenu" style="width: 100%;height: 10%;position: absolute;top: 0; left:0;background-image: url(images/framedWood.png);background-size: 20%100%;background-repeat: repeat-x">
        <div style="margin-top: 1%;position: relative;left: 32%;float: left;">
            <div style="font-size: 1vw">Town Center</div>
            <div><img ng-click="home()" style="position:absolute;cursor: pointer;" ng-mouseleave="darker($event)" ng-mouseover="brighter($event)" src="images/edoras.png" width="72%"> </div>
        </div>
        <div style="margin-top: 1%;position: relative;left: 17%;float: left;">
            <div style="font-size: 1vw">World Map</div>
            <div><img ng-click="map()" style="position: absolute;cursor: pointer;" ng-mouseleave="darker($event)" ng-mouseover="brighter($event)" src="images/mapIcon.png" width="83%"> </div>
        </div>
        <div style="margin-top: 2%;position: relative;float: left;left: 31%;font-size: 2.3vw">
            {{currentTown.name}}
            <div class="text-center" style="font-size: 1vw" ng-if="currentTown.name === profile.town[0].name">(Home town)</div>
        </div>
        <div style="margin-top: 1%;position: relative;left: 40%;float: left;">
            <div style="font-size: 1vw">Mailbox</div>
            <div><img ng-click="mailBox()" style="position: absolute;cursor: pointer;" ng-mouseleave="darker($event)" ng-mouseover="brighter($event)" src="images/mailboxIcon.png" width="115%"> </div>
        </div>
        <div ng-click="logout()" style="cursor: pointer;margin-top: 2%;position: relative;margin-right: 5px" class="pull-right"><kbd><i class="fa fa-sign-out"></i>Logout</kbd></div>
        <div ng-click="settings()" style="cursor: pointer;margin-top: 2%;position: relative;margin-right: 5px" class="pull-right"><kbd><i class="fa fa-gear"></i>Settings</kbd></div>
        <div ng-click="profile()" style="cursor: pointer;margin-top: 2%;position: relative;margin-right: 5px" class="pull-right"><kbd><i class="fa fa-user"></i>Profile</kbd></div>
    </div>
    <div id="military_queue_info" class="col-md-2 col-sm-2 col-xs-2" style="position: absolute;top:7%">
        <img style="position: absolute;" width="100%100%" src="images/ownTown/WoodChain.png">
        <table class="col-md-12 col-xs-12 col-sm-12 text-center" style="margin-top: 50%;">
            <tr>
                <td ng-style="{'color': (currentTown.building_queue < currentTown.building_process_limit ? 'darkgreen':'#7E1417')}">Build : {{currentTown.building_queue}} / {{currentTown.building_process_limit}}</td>
                <td ng-style="{'color': (currentTown.troop_queue < currentTown.military_process_limit ? 'darkgreen':'#7E1417')}">Train :{{currentTown.troop_queue}} / {{currentTown.military_process_limit}}</td>
            </tr>
            <tr>
               <td colspan="2" ng-style="{'color': (currentTown.population < currentTown.population_limit ? 'darkgreen':'#7E1417')}">Population : {{currentTown.population}} / {{currentTown.population_limit}}</td>
            </tr>
        </table>
        <table class="col-md-12 col-xs-12 col-sm-12 text-center" style="margin-top: 45%;">
            <tr>
                <td style="width: 30%">
                    <img width="35%" src="images/military/lancer/icon.png">
                </td>
                <td style="width: 30%">
                    <img width="35%" src="images/military/archer/icon.png">
                </td>
                <td style="width: 30%">
                    <img width="35%" src="images/military/cavalry/icon.png">
                </td>
            </tr>
            <tr style="font-weight: 700">
                <td>
                    {{lancers.length}}
                </td>
                <td>
                    {{archers.length}}
                </td>
                <td>
                    {{cavs.length}}
                </td>
            </tr>
        </table>
    </div>
    <div id="production_info" class="col-md-2 col-sm-2 col-xs-2" style="position: absolute;top:7%;left: 82%;">
        <img style="position: absolute;" width="100%100%" src="images/ownTown/WoodChain.png">
        <table class="col-md-12 col-xs-12 col-sm-12 text-center" style="margin-top: 45%;">
            <tbody>
            <tr ng-repeat="(k,v) in currentTown.resources">
                <td>{{k | uppercase}} : {{" "+convertFloor(v)}} / {{currentTown.production.totalCapacity[k]}}</td>
            </tr>
            </tbody>
        </table>
        <table class="col-md-12 col-xs-12 col-sm-12 text-center" style="margin-top: 35%;">
            <tbody>
            <tr>
                <td>Food/Hour : {{" "+convertFloor(currentTown.production.perHour.food)}}</td>
            </tr>
            <tr>
                <td>Wood/Hour : {{" "+convertFloor(currentTown.production.perHour.wood)}}</td>
            </tr>
            <tr>
                <td>Stone/Hour :{{" "+convertFloor(currentTown.production.perHour.stone)}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>