<div>
    <h1 class="text-center" style="font-weight: 900">Las Clanos Register</h1>
    <div id="loginContainer" ng-mouseover="loginContainerOn()" ng-mouseleave="loginContainerOff()" class="container text-center" style="opacity: 0.8;height: 100%;color: burlywood; width: 40%;margin-left: 20%; border-radius: 20px; background-image: url(images/wooden.jpeg); border: #63410c solid">
        <div>If you already have an account</div>
        <button class="btn btn-success" ng-click="loginModal()">
            Login
        </button>
    </div>
    <br/>
    <div ng-mouseover="containerOn()" ng-mouseleave="containerOff()" class="container" id="registerContainer" style="opacity: 0.8;width: 40%;margin-left: 20%; border-radius: 20px;background: url(images/wooden.jpeg); border: #63410c solid">
        <form class="form-horizontal" style="color: white ;margin-top: 10%; margin-right: 15%" name="registerForm" novalidate id="registerForm" ng-submit="register()">
            <div class="form-group">
                <label for="name" class="control-label col-md-5">Username:</label>
                <div class="col-md-7">
                    <input style="background-color: burlywood"  id="name" class="form-control" type="text" required ng-model="user.username">
                </div>
            </div>
            <div class="form-group">
                <label for="pw1" class="control-label col-md-5">Password:</label>
                <div class="col-md-7">
                    <input style="background-color: burlywood" id="pw1" class="form-control" type="text" required ng-model="user.password">
                </div>
            </div>
            <div class="form-group">
                <label for="pw2" class="control-label col-md-5">Password Confirm:</label>
                <div class="col-md-7">
                    <input style="background-color: burlywood" id="pw2" class="form-control" type="text" required ng-model="user.passwordConfirm">
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="control-label col-md-5">Email:</label>
                <div class="col-md-7">
                    <input style="background-color: burlywood" id="email" type="email" class="form-control" required ng-model="user.email">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-5 col-md-7">
                    <button class="btn btn-success" type="submit"> Register </button>
                </div>
            </div>
        </form>
    </div>
</div>